@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "League Spartan", sans-serif;
}

.navbar {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translatex(100%);
  opacity: 0;
}

.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}
